$colors: (
  primary: (
    200: hsl(184, 74%, 35%),
    300: hsl(184, 74%, 26%),
    500: hsl(184, 74%, 20%),
    900: hsl(184, 74%, 8%),

  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(160, 18%, 97%),
    300: hsl(0, 0%, 87%),
  ),
);